<div class="container">
    <h2 id="title">About ReadMe.com</h2>
    <hr class="solid">
    <p>A full-stack web application where customers can shop for a large variety of books. The main objective of the project is to create an online book store that allows users to search and purchase books online based on Title, Author, ISBN, Publisher, or Genre. Customers can add books to their cart for checkout or to their bookmarks to save for later, view their past orders, view their account information, and change their password from their profile. This project was created through the Revature training program.
    </p>

    <ul style="list-style-type:none; text-align: center;">
        <h4>Technologies Used</h4>
        <li>Angular</li>
        <li>Java</li>
        <li>Spring Boot and Spring Data</li>
        <li>JUnit</li>
        <li>Jenkins</li>
        <li>Amazon AWS RDS</li>
        <li>Amazon AWS S3</li>
    </ul>  
</div>