<div class="container">
    <h2 id="title">Shopping Cart</h2>
    <hr class="solid">
    <div *ngIf="sessionUser!=null; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
        <table class="table table-light table-striped">
            <thead>
                <tr>
                    <th scope="col">Cover</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Price</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of cartList">
                    <td scope="col">
                        <img width="50%" height="50%" id="cover" src="{{book.book_cover}}" alt="Book Cover">
                    </td>
                    <td scope="col">{{book.title}}</td>
                    <td scope="col">{{book.author}}</td>
                    <td scope="col">{{book.price | currency}}</td>
                    <td scope="col"><button id="add" (click)="addToBookmarks(book)"><i class="bi bi-journal-bookmark-fill"></i>  Add To Bookmarks</button></td>
                    <td scope="col"><button id="remove" (click)="remove(book)"><i class="bi bi-trash"></i> Remove</button></td>
                </tr>
            </tbody>
        </table>
        <div id = "body">
            <button id="checkout" (click)="toCheckout()"><i class="bi bi-cart4"></i> To Checkout</button>
            <p id = "body">{{cartStatus}}</p>
        </div>
    </ng-template>
    <ng-template #elseBlock>
        <p id="body">Register or login to an existing account.</p>
    </ng-template>
</div>